@model IPagedList<OrderViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Siparişler";
    ViewData["navbarHideToggle"] = true;
    ViewData["isMenu"] = false;
    ViewData["menuFixed"] = "";
    Layout = "_ContentNavbarLayout";
}


@foreach (var item in Model.Select((order, i) => new { i, order }))
{
    var order = item.order;
    var index = item.i;
    <div class="accordion" id="accordionExample">
        <div class="accordion-item mb-2">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@index" aria-expanded="true" aria-controls="collapse-@index">
                    <div class="p-2">
                        <div>
                            Sipariş Tarihi: @order.DateCreated.ToLocalTime().Date.ToShortDateString() |
                            Adres: @order.Address.Name - @order.Address.Text 
                            @(order.Status == Core.Enums.DeliveryStatus.OnDelivery ? $"Sipariş Takip Numarası: {order.CargoTrackingNumber}" : "")

                        </div>
                    </div>
                </button>
            </h2>
            <div id="collapse-@index" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <table class="table">
                        <colgroup>
                            <col width="120" />
                            <col />
                            <col />
                            <col width="40" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>
                                    Görsel
                                </th>
                                <th>
                                    Ürün Adı
                                </th>
                                <th>
                                    Fiyat
                                </th>
                                <th>
                                    Miktar
                                </th>
                                <th>
                                    Tutar
                                </th>
                            </tr>
                        </thead>

                        @foreach (var orderDetail in order.OrderDetails)
                        {
                            <tbody>
                                <tr>
                                    <td>
                                        <a asp-controller="Home" asp-action="Product" asp-route-id="@orderDetail.Product.Id">
                                            <img src="@orderDetail.Product!.Image" class="img-fluid object-fit-contain" onerror="this.onerror=null;this.src = '/images/no-image.jpg'" />
                                        </a>
                                    </td>
                                    <td>
                                        @orderDetail.Product.Name
                                    </td>
                                    <td class="text-end font-monospace">
                                        ₺@orderDetail.Product.DiscountedPrice.ToString("N2")
                                        <div class="small text-decoration-line-through text-muted">
                                            ₺@orderDetail.Product.Price.ToString("N2")
                                        </div>
                                    </td>
                                    <td class="text-end font-monospace">
                                        <div class="d-flex align-items-center">
                                            @orderDetail.Quantity.ToString("n0")
                                        </div>

                                    </td>
                                    <td class="text-end font-monospace">
                                        ₺ @orderDetail.LineTotal.ToString("N2")
                                    </td>
                                </tr>
                            </tbody>

                        }
                    </table>
                </div>
            </div>
            <div class="ps-4 py-1">
                Sipariş Durumu:
                @switch (order.Status)
                {
                    case Core.Enums.DeliveryStatus.New:
                        <span>Sipariş Alındı</span>
                        break;
                    case Core.Enums.DeliveryStatus.OnDelivery:
                        <span>Sipariş Yolda</span>
                        break;
                    case Core.Enums.DeliveryStatus.Shipped:
                        <span>Sipariş Teslim Edildi</span>
                        break;
                    case Core.Enums.DeliveryStatus.Cancelled:
                        <span>Sipariş İptal Edildi</span>
                        break;
                } 
                @if (order.Status == Core.Enums.DeliveryStatus.New)
                {
                    <span>|</span>
                    <a asp-controller="Home" asp-action="CancelOrder" asp-route-id="@order.Id">Sipariş İptali</a>
                }
            </div>
        </div>
    </div>
}


<div class="card mt-3">
    <div class="d-flex justify-content-center">
        <div class="col-lg-6">
            <div class="demo-inline-spacing">
                <!-- Basic Pagination -->
                <nav aria-label="Page navigation" class="d-flex justify-content-center">
                    <ul class="pagination">
                        <li class="page-item first">
                            <a class="page-link" asp-route-pageNumber="1"><i class="tf-icon bx bx-chevrons-left"></i></a>
                        </li>
                        <li class="page-item prev">
                            <a class="page-link" asp-route-pageNumber="@(Model.PageNumber - 1 <= 0 ? 1 :Model.PageNumber - 1)"><i class="tf-icon bx bx-chevron-left"></i></a>
                        </li>
                        @for (int i = 1; i <= Model.PageCount; i++)
                        {
                            if (Model.PageNumber == i)
                            {
                                <li class="page-item active">
                                    <a class="page-link" asp-route-pageNumber="@i">@i</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-route-pageNumber="@i">@i</a>
                                </li>
                            }
                        }
                        <li class="page-item next">
                            <a class="page-link" asp-route-pageNumber="@(Model.PageNumber + 1 > Model.PageCount? Model.PageCount:Model.PageNumber + 1 )"><i class="tf-icon bx bx-chevron-right"></i></a>
                        </li>
                        <li class="page-item last">
                            <a class="page-link" asp-route-pageNumber="@Model.PageCount"><i class="tf-icon bx bx-chevrons-right"></i></a>
                        </li>
                    </ul>
                </nav>
                <!--/ Basic Pagination -->
            </div>
        </div>
    </div>
</div>