@model ProductDetailViewModel

@{
    ViewData["Title"] = Model.Name;
    ViewData["navbarHideToggle"] = true;
    ViewData["isMenu"] = false;
    ViewData["menuFixed"] = "";
    Layout = "_ContentNavbarLayout";
}

<div class="row">
    <div class="col-12 col-lg-5 d-flex flex-column gap-2">
        <a href="@Model.Image" data-lightbox="productImage">
            <img src="@Model.Image" class="img-fluid object-fit-cover" alt="@Model.Name" onerror="this.onerror=null;this.src = '/images/no-image.jpg'" />
        </a>
    </div>
    <div class="col-12 col-lg-7 d-flex flex-column gap-2">
        <div class="fs-1">
            @Model.Name
        </div>
        <div class="d-flex gap-2 mb-2">
            @foreach (var catalog in Model.Catalogs)
            {
                <a asp-action="Catalog" asp-route-id="@catalog.Id" class="btn btn-sm btn-outline-primary">@catalog.Name</a>
            }
        </div>
        <div class="d-flex flex-column gap-2">
            @if (Model.DiscountRate != 0)
            {
                <div class="small text-secondary text-decoration-line-through">₺@Model.Price.ToString("n2")</div>
                <div class="d-flex align-items-center gap-2">
                    <div class="fs-2 text-success">₺@Model.DiscountedPrice.ToString("n2")</div>
                    <div class="badge bg-danger">%@Model.DiscountRate.ToString("n0")</div>
                </div>
            }
            else
            {
                <div class="d-flex align-items-center gap-2">
                    <div class="fs-2 text-secondary">₺@Model.Price.ToString("n2")</div>
                </div>
            }
        </div>
        @if(!User.IsInRole("Administrators")) {
            <div class="d-flex gap-2 flex-column">
                @if (!Model.IsInFavorites)
                {
                    <a class="btn btn-outline-primary d-flex gap-2 align-items-center w-50" asp-controller="Favorites" asp-action="AddToFavorites" asp-route-id="@Model.Id" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path">
                        <i class="bx bxs-heart"></i>  Favorilere Ekle
                    </a>
                }
                else
                {
                    <a class="btn btn-outline-primary d-flex gap-2 align-items-center" asp-controller="Favorites" asp-action="RemoveFromFavorites" asp-route-id="@Model.Id" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path">
                        <i class="bx bx-heart"></i> Favorilerden Çıkar
                    </a>
                }
                <form asp-action="AddToShoppingCart" method="get">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <div class="d-flex gap-3">
                        <div class="d-flex gap-1">
                            <button id="decrement" type="button" class="btn btn-outline-secondary">-</button>
                            <input type="text" required pattern="^[0-9]+$" inputmode="numeric" class="form-control text-center" style="width:40px;" id="quantity" name="quantity" value="1" />
                            <button id="increment" type="button" class="btn btn-outline-secondary">+</button>
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="bi bi-cart"></i> Sepete Ekle</button>
                    </div>
                </form>
            </div>

        }
    </div>
</div>


<div>
    <div class="card p-4 mt-5 mb-3">
        <div class="d-flex gap-2 align-items-center">
            <i class="bx bx-align-left"></i>
            Açıklamalar
        </div>

        <div>
            <blockquote class="p-4">
                @Model.Description
            </blockquote>
        </div>
    </div>

        <div class="p-4 border">
        <div class="d-flex gap-2 align-items-center mb-3">
            <i class="bx bx-comment"></i>
            Yorumlar
            </div>

        <div>
            @if (!User.IsInRole("Administrators"))
            {
                <partial name="_CommentFormPartial" model="@(new CommentViewModel { ProductId = Model.Id, Rating = 0, SelectList = ViewBag.Rating })" />
                <hr />
            }
            @foreach (var comment in Model.Comments)
            {
                <div class="border p-4 text-bg-light rounded d-flex flex-column gap-2 mb-2">
                    <div class="fw-bold">@comment.UserName</div>
                    <blockquote>@comment.Body</blockquote>
                    <div class="py-2">
                        @for (int i = 1; i <= 5; i++)
                        {
                            if (comment.Rate >= i)
                            {
                                <i class="bx bxs-star me-2"></i>
                            }
                            else
                            {
                                <i class="bx bx-star me-2"></i>
                            }
                        }
                    </div>
                    <div>@((comment.Date as DateTime?).Value.ToLocalTime().ToShortDateString()) - @((comment.Date as DateTime?).Value.ToLocalTime().ToShortTimeString()) </div>
                    @if(User.IsInRole("Administrators") && !comment.Enabled)
                    {
                        <a asp-action="EnableComment" asp-route-id="@comment.Id" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path">Yorumu aktif et</a>
                    }
                </div>
            }
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.min.css" integrity="sha512-ZKX+BvQihRJPA8CROKBhDNvoc2aDMOdAlcm7TUQY+35XYtrd3yh95QOOhsPDQY9QnKE0Wqag9y38OIgEvb88cA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox.min.js" integrity="sha512-Ixzuzfxv1EqafeQlTCufWfaC6ful6WFqIz4G+dWvK0beHw0NVJwvCKSgafpy5gwNqKmgUfIBraVwkKI+Cz0SEQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(() => {
            $('#increment').on('click', () => {
                let q = $('#quantity').val();
                $('#quantity').val(++q);
            });
            $('#decrement').on('click', () => {
                let q = $('#quantity').val();
                if (q < 2)
                    return;
                $('#quantity').val(--q);
            });

            // $('.rating-wrapper i').on('click', (evt) => {
            //     let elm = $(evt.target);
            //     let index = $(elm).attr('data-index');
            //     $('#Rating').val(index + 1);
            //     $('.rating-wrapper i').removeClass('bx-star');
            //     for (var i = 0; i < 5; i++) {
            //         $(`.rating-wrapper i[data-index=${i}]`).addClass(i <= index ? 'bxs-star' : 'bx-star')
            //     }
            // });

        });
    </script>

}
